/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#profiles-list,
#profiler-report {
  background: hsl(208,11%,27%);
}

#profiles-list {
  min-width: 196px;
}

#graph {
  overflow: hidden;
  padding: 4px;
  background: rgba(17, 19, 21, 1);
}

#gc,
#cc {
  min-width: 40px;
}

.color-legend::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  border-width: 1px;
  border-style: solid;
}

#gc::before {
  background-image: linear-gradient(rgb(90, 195, 247), rgb(50, 155, 207));
  border-color: rgb(70, 175, 227);
}

#cc::before {
  background-image: linear-gradient(rgb(205, 155, 208), rgb(165, 115, 168));
  border-color: rgb(185, 135, 188);
}
