/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#profiles-list,
#profiler-report {
  background: hsl(208,11%,27%);
}

#memory-used {
  color: #fff;
  font-size: 5em;
  text-shadow: 1px 1px 2px black, 0 0 0.2em black, 0 0 0.2em black;
}

#graph {
  overflow: hidden;
  padding: 4px;
  background: rgba(17, 19, 21, 1);
}

#gc,
#cc {
  min-width: 32px;
}

#gc {
  color: rgb(70, 175, 227);
}

#cc {
  color: rgb(185, 135, 188);
}
